site_name: aiosalesforce
site_url: https://georgebv.github.io/aiosalesforce/
repo_url: https://github.com/georgebv/aiosalesforce
repo_name: georgebv/aiosalesforce
site_description: Documentation for aiosalesforce, a Python library for Salesforce API
site_author: George Bocharov
copyright: Copyright &copy; 2024 George Bocharov

nav:
  - Getting Started: index.md
  - Documentation:
      - Introduction: documentation/introduction.md
      - Authentication: documentation/authentication.md
      - Salesforce Client: documentation/client.md
      # TODO SOQL Queries
      # TODO Sobject Client
      # TODO Bulk API Client
      # TODO Handling Exceptions
  - API Reference:
      - Authentication: api-reference/auth.md
      - Salesforce Client: api-reference/client.md
      - Sobject Client: api-reference/sobject.md
      - Bulk API 2.0:
          - Client: api-reference/bulk/v2/client.md
          - Ingest Client: api-reference/bulk/v2/ingest.md
          - CSV: api-reference/bulk/v2/csv.md
      - Events: api-reference/events.md
      - Retries: api-reference/retries.md
      - Exceptions: api-reference/exceptions.md
      - Utilities: api-reference/utils.md

theme:
  name: material
  features:
    - navigation.tabs
    - content.tabs.link
    - navigation.top
    - navigation.prune
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.footer
    - search.suggest
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github
    logo: fontawesome/solid/cloud-bolt

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            show_root_toc_entry: false
            docstring_style: "numpy"
            members_order: "source"

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/georgebv/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/gbocharov/

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - css/extra.css
